body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Exo 2";
    overflow: hidden;
}

#root {
    width: 100vw;
    height: 100vh;
}

.app-wrapper {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    position: relative;
}

.app {
    height: 101%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 0 auto;
    padding: 1rem;
    width: 80%;
}