.search-bar {
    display: flex;
    margin-bottom: 0.5rem;
    gap: 1rem;

    .searcher {
        margin-top: auto;
        display: flex;
        gap: 0.25rem;
        margin-left: auto;

        label {
            span {
                margin-right: 0.25rem;
            }
        }
    }

    .filter {
        display: flex;
        gap: 0.25rem;

        label {
            span {
                margin-right: 0.25rem;
            }
        }
    }

    &__filters {
        display: grid;
        gap: 0.5rem
    }
}