.search-bar {
    margin: 0 auto;
    padding: 1rem;
    width: 80%;

}

.searcher {
    margin-bottom: 0.5rem;
    display: flex;
    gap: 0.25rem;

    label {
        span {
            margin-right: 0.25rem;
        }
    }
}